---
import MainLayout from "../layouts/MainLayout.astro";

// Server only
const name = "Bryan Jose Soto Alvarez";
---

<MainLayout title="Home Page">
  <main>
    <h1>{name}</h1>

    <p>Momento actual: {new Date().toLocaleTimeString()}</p>
    <p id="current-time">Momento actual real:</p>
  </main>

  <script>
    // Client Only
    const currentTime: string = new Date().toLocaleTimeString();

    const currentTimeElement = document.getElementById("current-time");
    currentTimeElement?.append(currentTime);
  </script>
</MainLayout>
